.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;

  background: pink;
  min-height: 100vh;

  border-right: 1px solid #ccc;

  &__header {
    display: flex;
    align-items: center;
    padding: 10px;

    &__name {
      flex: 1;
      padding: 0 12px;
    }
  }

  &__room {
    border-top: 1px solid #ccc;
    flex: 1;

    &__name {
      text-align: center;
      padding: 5px 0;
    }

    &__list {
      margin: 0;
      padding: 0;
    }

    &__item {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__button {
    margin: 10px 0;
  }
}
